* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color ease-in-out 0.3s;

    &:hover {
        color: $secondary-color;
    }
}