* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color ease-in-out 0.3s;

    &:hover {
        color: $secondary-color;
    }
}

.page {
    width: 100%;

    .content {
        padding: 30px;
        max-width: $content-max-width;
        margin: 10px auto;

        & > *:first-child {
            margin-top: unset;
        }

        h3 {
            color: $primary-color;
            margin: 40px 0 20px 0;
        }

        p:not(.text):not(.digit) {
            margin-top: 10px;
        }
    }
}

.bold {
    font-weight: bold;
}

h5 {
    color: $grey;
    font-weight: lighter;
}