* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color ease-in-out 0.3s;

    &:hover {
        color: $secondary-color;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    z-index: 0;
}
.fade-enter, .fade-leave-to {
    opacity: 0
}

.page {
    width: 100%;

    .content {
        margin-top: 50px;
        padding: 30px;
    }
}

bold {
    font-weight: bold;
}